<a href="https://colab.research.google.com/github/tkn13/datasci_project/blob/dev%2Fdataprep/Datamine_0540_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# โหลดไฟล์
df = pd.read_csv('Motor vehicle insurance data.csv', delimiter=';')

# แสดง 5 แถวแรกเพื่อเช็คว่าข้อมูลมาถูกต้องไหม
df.head()

,ID,Date_start_contract,Date_last_renewal,Date_next_renewal,Date_birth,Date_driving_licence,Distribution_channel,Seniority,Policies_in_force,Max_policies,...,Area,Second_driver,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight
0,1,05/11/2015,05/11/2015,05/11/2016,15/04/1956,20/03/1976,0,4,1,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
1,1,05/11/2015,05/11/2016,05/11/2017,15/04/1956,20/03/1976,0,4,1,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
2,1,05/11/2015,05/11/2017,05/11/2018,15/04/1956,20/03/1976,0,4,2,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
3,1,05/11/2015,05/11/2018,05/11/2019,15/04/1956,20/03/1976,0,4,2,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190
4,2,26/09/2017,26/09/2017,26/09/2018,15/04/1956,20/03/1976,0,4,2,2,...,0,0,2004,80,599,7068.0,0,P,NaN,190

In [ ]:
import pandas as pd
from dateutil.relativedelta import relativedelta
import numpy as np

# 1. โหลดข้อมูล (delimiter=';')
df = pd.read_csv('Motor vehicle insurance data.csv', delimiter=';')

# 2. สร้างตัวแปรชั่วคราวสำหรับคำนวณ (เพื่อไม่ให้กระทบข้อมูลจริงในตาราง)
# ใช้ dayfirst=True เพื่อให้อ่านวันที่ถูก (วัน/เดือน/ปี)
temp_renewal = pd.to_datetime(df['Date_last_renewal'], dayfirst=True, errors='coerce')
temp_birth = pd.to_datetime(df['Date_birth'], dayfirst=True, errors='coerce')
temp_licence = pd.to_datetime(df['Date_driving_licence'], dayfirst=True, errors='coerce')

# 3. ฟังก์ชันคำนวณปี
def calculate_years_diff(end_date, start_date):
    if pd.isnull(end_date) or pd.isnull(start_date):
        return np.nan
    try:
        years = relativedelta(end_date, start_date).years
        if years < 0: return np.nan
        return years
    except:
        return np.nan

# 4. สร้างคอลัมน์ใหม่ต่อท้าย (old และ Driving_experience)
df['old'] = [calculate_years_diff(r, b) for r, b in zip(temp_renewal, temp_birth)]
df['Driving_experience'] = [calculate_years_diff(r, l) for r, l in zip(temp_renewal, temp_licence)]

# ==========================================
# ส่วนที่เพิ่ม: คำนวณ Length_of_vehicle_usage
# ==========================================
# ดึงปี ค.ศ. จาก temp_renewal (ที่คุณแปลงไว้แล้ว) มาลบกับ Year_matriculation
df['Length_of_vehicle_usage'] = temp_renewal.dt.year - df['Year_matriculation']

# 5. แสดงตัวอย่างแค่ 5 บรรทัดแรก
print("ตัวอย่างข้อมูล 5 แถวแรก (สังเกตคอลัมน์ขวาสุด):")
# ถ้าใช้ใน Jupyter/Colab ให้ใช้ display(df.head())
# ถ้ารันใน Python ธรรมดาใช้ print(df.head())

display(df.head())

ตัวอย่างข้อมูล 5 แถวแรก (สังเกตคอลัมน์ขวาสุด):

   ID Date_start_contract Date_last_renewal Date_next_renewal  Date_birth Date_driving_licence  Distribution_channel  Seniority  Policies_in_force  Max_policies  Max_products  Lapse Date_lapse  Payment  Premium  Cost_claims_year  N_claims_year  N_claims_history  R_Claims_history  Type_risk  Area  Second_driver  Year_matriculation  Power  Cylinder_capacity  Value_vehicle  N_doors Type_fuel  Length  Weight  old  Driving_experience  Length_of_vehicle_usage
0   1          05/11/2015        05/11/2015        05/11/2016  15/04/1956           20/03/1976                     0          4                  1             2             1      0        NaN        0   222.52               0.0              0                 0               0.0          1     0              0                2004     80                599         7068.0        0         P     NaN     190   59                39.0                       11
1   1          05/11/2015        05/11/2016        05/11/2017  15/04/1956           20/03/1976                     0          4                  1             2             1      0        NaN        0   213.78               0.0              0                 0               0.0          1     0              0                2004     80                599         7068.0        0         P     NaN     190   60                40.0                       12
2   1          05/11/2015        05/11/2017        05/11/2018  15/04/1956           20/03/1976                     0          4                  2             2             1      0        NaN        0   214.84               0.0              0                 0               0.0          1     0              0                2004     80                599         7068.0        0         P     NaN     190   61                41.0                       13
3   1          05/11/2015        05/11/2018        05/11/2019  15/04/1956           20/03/1976                     0          4                  2             2             1      0        NaN        0   216.99               0.0              0                 0               0.0          1     0              0                2004     80                599         7068.0        0         P     NaN     190   62                42.0                       14
4   2          26/09/2017        26/09/2017        26/09/2018  15/04/1956           20/03/1976                     0          4                  2             2             1      0        NaN        1   213.70               0.0              0                 0               0.0          1     0              0                2004     80                599         7068.0        0         P     NaN     190   61                41.0                       13