<a href="https://colab.research.google.com/github/tkn13/datasci_project/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!git clone https://github.com/tkn13/datasci_project
%cd datasci_project

fatal: destination path 'datasci_project' already exists and is not an empty directory.
/content/datasci_project

In [5]:
import sys
sys.path.append('/content/datasci_project')

In [6]:
import utils

utils.get_connection()

Mounted at /content/drive

'/content/drive/My Drive/datasci_dataset/'

In [7]:
df = utils.load_data()

Loading data_raw.csv...

In [8]:
df.head()

,ID,Old,Driving_experience,Distribution_channel,Policies_in_force,Max_policies,Max_products,Lapse,Payment,Cost_claims_year,...,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight,Has_lapsed,Years_with_company,Premium
0,3,40,20,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,1,380.20
1,3,41,21,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,2,393.50
2,3,42,22,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,3,393.50
3,3,43,23,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,4,395.47
4,6,49,25,0,1,2,2,0,0,0.0,...,87,1598,9927.0,4,0,4.250,1055,0,1,250.52