<a href="https://colab.research.google.com/github/tkn13/datasci_project/blob/dev%2Fmodeling/Phai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/tkn13/datasci_project
%cd datasci_project

Cloning into 'datasci_project'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 18 (delta 4), reused 5 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (18/18), 6.25 KiB | 6.25 MiB/s, done.
Resolving deltas: 100% (4/4), done.
/content/datasci_project

In [3]:
import sys
sys.path.append('/content/datasci_project')

In [4]:
import utils

utils.get_connection()

Mounted at /content/drive

'/content/drive/My Drive/datamine_shared/'

In [5]:
df = utils.load_data()
df.head()

Loading data_clean_v1.csv...

,ID,Old,Driving_experience,Distribution_channel,Policies_in_force,Max_policies,Max_products,Lapse,Payment,Cost_claims_year,...,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight,Has_lapsed,Years_with_company,Premium
0,3,40,20,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,1,380.20
1,3,41,21,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,2,393.50
2,3,42,22,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,3,393.50
3,3,43,23,0,1,2,1,0,0,0.0,...,85,1229,16030.0,5,0,3.999,1105,0,4,395.47
4,6,49,25,0,1,2,2,0,0,0.0,...,87,1598,9927.0,4,0,4.250,1055,0,1,250.52

In [1]:
print("Hello World")

Hello World